@import '../../../styles.scss';

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 2rem;


  .glass {
    @include glass(18rem, 10rem);

    .glass-description{
      margin-top: 10%;
    }

    img {
      height: 100%;

      &:hover {
        transform: scale(1.2);
      }
    }

    &:hover {
      filter: brightness(0.9);
    }
  }
}