
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 2rem;


  .glass {
    width: 18rem;
    height: 10rem;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 0.3rem;
    backdrop-filter: blur(2rem);
    padding: 0.5rem;
    display: flex;
    gap: 1rem;
    cursor: pointer;


    img {
      height: 100%;

      &:hover {
        transform: scale(1.2);
      }
    }

    &:hover {
      filter: brightness(0.9);
    }
  }
}