<div class="container">
 <app-search (onSubmit)="onSubmit($event)"></app-search>
    <ol class="wrapper" id="list-pokemon">
      <li  [routerLink]="['/pokemon']" [queryParams]="{ id: pokemon.id}" *ngFor="let pokemon of pokemons" class="glass">
      <img [lazyLoad]="pokemon.images.small" class="img-pokemon-pokemons">
          <div class="glass-description">
              <h5>{{'ID' | translate}}: {{pokemon.id}} </h5>
              <h5>{{'NAME' | translate}}: {{pokemon.name}} </h5>
              <h5>{{'TYPE' | translate}}: {{pokemon.types}} </h5>
          </div>
      </li>
    </ol>
</div>