<div class="wrapper">
    <img [lazyLoad]="pokemon.images.small" >

  <div class="glass">
      <h1>{{pokemon.name}}</h1>

      <div class="description">
        <div class="glass-description">
          <h3>Description</h3>
            <table>
            <tr>
              <td>Id</td>
              <td>{{pokemon.id}}</td>
            </tr>
            <tr>
              <td>Tipo(s)</td>
              <td>{{pokemon.type}}</td>
            </tr>
          </table>
        </div>
          <div class="glass-description">
            <h3>Resistencia(s)</h3>
            <table>
              <tr *ngFor="let r of pokemon.resistances">
                <td>{{r.type}}</td>
                <td>{{r.value}}</td>
              </tr>
          </table>
        </div>
        <div class="glass-description">
            <h3>Fraqueza(s)</h3>
            <table>
              <tr *ngFor="let r of pokemon.weaknesses">
                <td>{{r.type}}</td>
                <td>{{r.value}}</td>
              </tr>
          </table>
        </div>

        <div class="glass-description">
            <h3>Attack(s)</h3>
            <table>
              <tr *ngFor="let attack of pokemon.attacks">
                <button type="button" (click)="open(mymodal, attack)">
                    {{attack.name}}
                </button>
              </tr>
          </table>
        </div>
      </div>
  </div>
  <ng-template #mymodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{attack.name}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <table>
        <tr >
          <td>Name</td>
          <td>{{attack.name}}</td>
        </tr>
        <tr >
          <td>Custo (mana)</td>
          <td>{{attack.cost}}</td>
       </tr>
        <tr >
          <td>Dano</td>
          <td>{{attack.damage}}</td>
       </tr>
        <tr >
          <td>Descrição</td>
          <td>{{attack.text}}</td>
        </tr>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div>
  </ng-template>
</div>