@import '../../../styles.scss';

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .glass {
    @include glass(40%, column, auto, center);
    cursor: default;

    h1 {
      margin-bottom: 0.5em;
    }

    .description {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;

      .glass-description{
        @include glass(auto, column, auto, center);
        cursor: default;
       }

       table {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
        margin-top: 2rem;
        text-align: left;
      }

      td{
        padding: 0.5rem;
      }

      button {
        background: none;
        border: none;
        cursor: pointer;
      }
    }
  }
}