<div class="wrapper">
    <img [lazyLoad]="pokemon.images.small" >

  <div class="glass">
      <h1>{{pokemon.name}}</h1>

      <div class="description">
        <div class="glass-description">
          <h3>{{'DESCRIPTION' | translate}}</h3>
            <table>
            <tr>
              <td>{{'ID' | translate}}</td>
              <td>{{pokemon.id}}</td>
            </tr>
            <tr>
              <td>{{'TYPE' | translate}}</td>
              <td>{{pokemon.type}}</td>
            </tr>
          </table>
        </div>
          <div class="glass-description">
            <h3>{{'RESISTANCE' | translate}}</h3>
            <table>
              <tr *ngFor="let r of pokemon.resistances">
                <td>{{r.type}}</td>
                <td>{{r.value}}</td>
              </tr>
          </table>
        </div>
        <div class="glass-description">
            <h3>{{'WEAKNESS' | translate}}</h3>
            <table>
              <tr *ngFor="let r of pokemon.weaknesses">
                <td>{{r.type}}</td>
                <td>{{r.value}}</td>
              </tr>
          </table>
        </div>

        <div class="glass-description">
            <h3>{{'ATTACK' | translate}}</h3>
            <table>
              <tr *ngFor="let _attack of pokemon.attacks">
                <button type="button" (click)="open(mymodal, _attack)">
                    {{_attack.name}}
                </button>
              </tr>
          </table>
        </div>
      </div>
  </div>

  <ng-template #mymodal let-modal >
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{attack.name}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <table>
        <tr >
          <td class="modal-td">{{'NAME' | translate}}</td>
          <td>{{attack.name}}</td>
        </tr>
        <tr >
          <td class="modal-td">{{'COST' | translate}}</td>
          <td>{{attack.cost}}</td>
       </tr>
        <tr >
          <td class="modal-td">{{'DAMAGE' | translate}}</td>
          <td>{{attack.damage}}</td>
       </tr>
        <tr >
          <td class="modal-td">{{'DESCRIPTION' | translate}}</td>
          <td>{{attack.text}}</td>
        </tr>
      </table>
    </div>
  </ng-template>
</div>